Dotnet/Project/CCDMonitor/LeadChina.CCDMonitor.Web/Connected Services/ServiceReference1/MonitorWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9320/Services/MonitorWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeadChina.CCDMonitor.Web.Models" />
  <xs:element name="SavePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LeadChina.CCDMonitor.Web.Models" minOccurs="0" name="photo" nillable="true" type="q1:SourceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>